.root {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(89, 79, 76, 0.4);
  z-index: 10;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 24px;
  padding: 48px;
  box-sizing: border-box;
  /* max-width: min-content; */
  color: #594f4c;
  box-shadow: 0px 2px 30px 0px #53413b5c;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.text {
  max-width: 409px;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: 24px;
  line-height: 130%;
  padding: 0;
  margin: 0;
}

.subtitle {
  font-family: Montserrat;
  font-weight: 400;
  font-style: 18px;
  line-height: 130%;
  padding: 16px 0 0;
  margin: 0;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 16px;
  max-width: 409px;
}

.link {
  text-decoration: none;
}
