.button {
  padding: 20px 36px;
  border: #000 2px solid;
  border-radius: 46px;
  background-color: transparent;
  min-width: max-content;
  font-size: 18px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
  color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.buttonSmooth {
  padding: 10px 16px;
  border: 1px solid #544b48;
  border-radius: 16px;
  background-color: transparent;
  max-width: max-content;
  font-size: 16px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  align-items: center;
  color: #594f4c;
  cursor: pointer;
  transition: all 0.5s ease;
}

.buttonSmooth:hover {
  background-color: #f5eeec;
}

.icon {
  display: flex;
}

/* .icon svg {
  fill: red;
} */

.button .icon svg path {
  /* stroke: red; */
  transition: fill 0.5s ease;
}

.button:hover .icon svg path {
  /* stroke: red; */
  fill: white;
}

.text {
  line-height: 110%;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* 
.textSmooth {
  line-height: 110%;
  font-weight: 500;
  margin: 0;
  padding: 0;
} */
